* {
    box-sizing: border-box;
}
body{
    width: 1024px;
    height: 512 px;
    margin: 30px auto;
    border: 2px solid rgb(53, 200, 245);
    display: flex;
    flex-wrap: wrap;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(168, 208, 209);
}

header, 
nav,
main,
aside, 
footer {
    background-color: rgb(126, 208, 214);
    color:black;
    border: 3px solid rgb(90, 162, 175);
}

.center {
    display: flex;
    justify-content: center;
}
header,nav,footer {
    width: 1024px;  
}
header {
    height: 100px;
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
    justify-content: center;
    align-items: baseline;
    align-content:space-around;
    display: flex;
    flex-wrap: wrap;   
}
nav {
    height: 50px;
    line-height: 50px;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
    display: flex;
    justify-content: space-around;
    
    
}
main,aside {
    height: 900px;
}

main {
    width: 800px;
}

aside {
    width: 220px;
}

footer {
    height: 50px;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    color: black;
}